<div class="login-wrapper self-center">
  <div class="as-h2">
    {{t 'templates.first-project.title'}}
  </div>

  {{project-form
    model=model
    action=(route-action 'saveProject' model)
  }}
</div>