@import 'base';
@import 'layout';
@import 'fonts';
@import 'inputs';
@import 'small-task';
@import 'tasks-bar';

*, *:before, *:after { box-sizing: border-box }

body {
  color: #555;
  font-size: 14px;
  background-color: #E5E9EC;
  font-family: 'CircularStd';
}

.button{
  border: 0;
  border-radius: 2px;
  background-color: #0091EB;
  color: white;
  height: 67px;
  padding: 0 12px;
  cursor: pointer;
  width: 100%;
}

.input-group {
  position: relative;
}
.input-group-label {
  display: block;
  margin-bottom: 5px;
  position: absolute;
  top: 10px;
  left: 14px;
  font-size: 14px;
  letter-spacing: .05em;
}
.input-group-field:focus + .input-group-label {
  color: #0091EB;
}
.input-group-field {
  padding-top: 30px;
  padding-bottom: 8px;
}

.login-wrapper {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 60px;
  border-radius: 2px;
  box-shadow: 0 2px 5px #D5DBE0, 0 5px 80px #D5DBE0;
}

.input-group-col .input-group:not(:first-child) .input-group-field {
  border-top: 0;
}
.input-group-col .input-group:first-child .input-group-field {
  border-radius: 2px 2px 0 0;
}
.input-group-col .input-group:last-child .input-group-field {
  border-radius: 0 0 2px 2px;
}
