@import 'variables';
@import 'base';
@import 'layout';
@import 'fonts';
@import 'inputs';
@import 'dropdowns';
@import 'small-task';
@import 'tasks-bar';
@import 'addons/ember-power-select';

@import 'basscss/align';
@import 'basscss/border';
@import 'basscss/flexbox';
@import 'basscss/grid';
@import 'basscss/hide';
@import 'basscss/layout';
@import 'basscss/margin';
@import 'basscss/padding';
@import 'basscss/position';
@import 'basscss/type-scale';
@import 'basscss/typography';

@import 'provisional'; /* TODO: Remove-it */

*, *:before, *:after { box-sizing: border-box }

body {
  color: $body-color;
  font-size: 14px;
  line-height: 1.6;
  background-color: #E5E9EC;
  font-family: 'CircularStd';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn{
  border: 0;
  border-radius: 2px;
  background-color: #0091EB;
  color: white;
  height: 38px;
  padding: 0 14px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  line-height: 38px;
  transition: .6s;

  &:hover {
    background-color: color(#0091EB tint(12%));
    transition: .2s;
  }
}

.btn-light {
  background-color: #E5E9EC;
  color: inherit;

  &:hover {
    background-color: color(#E5E9EC tint(50%));
  }
}

.btn-clear {
  background-color: transparent;
  color: inherit;

  &:hover {
    background-color: #E5E9EC;
  }
}

button {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  border: initial;
  padding: initial;

  &:focus {
    outline: 0;
  }

  svg {
    display: block;
  }
}

.login-wrapper {
  width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 60px;
  border-radius: 2px;
  box-shadow: 0 2px 5px #D5DBE0, 0 5px 80px #D5DBE0;
}

.task-title {
  font-size: 20px;
}

.task-title-saving {
  display: none;
}

.task-worker-select {
  margin-bottom: 20px;
}

.assignment-title {
  margin-bottom: 20px;
}

.assignment-title-field {
  font-size: 20px;
  padding: 0;
  border: 0;
}

.assignment-description-field,
.comment-form-body {
  padding-top: 8px;
  background-color: $baltic-2;
  border: 0;
}

.attachment {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
}

.attachment-link {
  display: block;
  color: inherit;
}

.attachment-name {
  padding: 10px;
}

.attachment-button{
  padding: 10px;
}

.attachment-file {
  img {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
}

.depdency-dropdown {
  margin-bottom: 10px;
}

.dependency {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  background-color: #E5E9EC;
  margin-bottom: 4px;
}

.dependency-task-title {
  margin-right: 13px;
}

.dependency-action {
  svg {
    display: block;
  }
}

.team-form {
  button {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.1rem;
    height: 50px;
  }
}
