.dropdown {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background-color: #F2F4F5;
  border-radius: 2px;
  padding: 0 36px 0 12px;
  cursor: pointer;

  background-image: url("/assets/images/icons/caret-down.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;

  &:focus {
    outline: 0;
  }
}

.dropdown-menu {
  background-color: white;
  box-shadow: 0 12px 18px -8px rgba(0,0,0,.3), 0 7px 30px 0px rgba(0,0,0,.1);
}

.ember-basic-dropdown--transitioning-in {
  animation: dropdown .2s cubic-bezier(0,0,0,1);
}
@keyframes dropdown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
}

.dropdown-menu-item {
  padding: 8px 24px;
  cursor: pointer;
}