::-webkit-input-placeholder { color: #aaa }
:-moz-placeholder { color: #aaa }
::-moz-placeholder { color: #aaa }
:-ms-input-placeholder { color: #aaa }

input,
textarea {
  color: inherit;
  min-height: 38px;
  width: 100%;
  padding: 0 12px;
  border-radius: 2px;
  border: 2px solid rgba(0,0,0,.14);
  font-size: 20px;
  transition: .6s;
}

input:hover {
  transition: .2s;
}

input:focus {
  outline: 0;
  border-left-color: #0091EB;
}

textarea {
  resize: none;
  width: 100%;
  color: inherit;
}
textarea:focus {
  outline: 0;
  border-left-color: #0091EB;
}

.input-group {
  position: relative;

  & + .btn {
    margin-top: 10px;
  }
}
.input-group-label,
.input-group-title {
  display: block;
  margin-bottom: 5px;
  position: absolute;
  top: 10px;
  left: 14px;
  font-size: 14px;
  letter-spacing: .05em;
}
.input-group-field:focus + .input-group-label {
  color: #0091EB;
}
.input-group-field {
  padding-top: 30px;
  padding-bottom: 8px;
}

.input-group-col {
  margin-bottom: 20px;
}

.input-group-col .input-group:not(:first-child) .input-group-field {
  border-top: 0;
}
.input-group-col .input-group:first-child .input-group-field {
  border-radius: 2px 2px 0 0;
}
.input-group-col .input-group:last-child .input-group-field {
  border-radius: 0 0 2px 2px;
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  border: 2px solid #E5E9EC;
  height: 26px;
  width: 26px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-input:checked + .checkbox-label {
  background-color: $blue;
  background-image: url("/assets/images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}