.global-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 27%;
  flex-shrink: 0;
  padding: 20px 30px 30px 30px;
  height: 100vh;
}

.main-section-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.main-section {
  flex: auto;
  background-color: #F2F4F5;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.main-section-header {
  padding: 0 50px;
  flex-shrink: 0;
}

.task-section-header-title {
  font-size: 24px;
  display: block;
}

.task-top-bar {
  border-bottom: 1px solid color(#F2F4F5 shade(10%));
  margin-bottom: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.task-top-bar-btn {
  margin-left: 20px;
}

.main-section-body {
  background-color: white;
  padding: 20px 50px 30px 50px;
  flex-grow: 1;
  overflow: auto;
}

.files-panel {
  background-color: #fff;
  border-left: 1px solid #E5E9EC;
  width: 25%;
  flex-shrink: 0;
  padding: 30px;
}

.files-panel-header {
  display: flex;
}

.project-selector {
  margin-bottom: 20px;

  .ember-power-select-trigger {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.logo-section {
  margin-bottom: 20px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}