.global-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
  padding: 20px 30px 30px 30px;
  height: 100vh;
}

.main-section-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.main-section {
  flex: auto;
  background-color: #F2F4F5;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.main-section-header {
  padding: 0 50px;
  flex-shrink: 0;
}

.task-section-header-title {
  font-size: 24px;
  display: block;
  width: 100%;
}

.task-section-header-title-field {
  margin-left: -12px;
  border: 0;
  background-color: transparent;

  &:focus {
    background-color: rgba(0,0,0,.05)
  }
}

.task-top-bar {
  border-bottom: 1px solid color(#F2F4F5 shade(10%));
  margin-bottom: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.task-top-bar-btn {
  margin-left: 3px;

  .btn {
    &.active {
      background-color: #E5E9EC;
    }
  }
}

.main-section-body {
  background-color: white;
  padding: 20px 50px 30px 50px;
  flex-grow: 1;
  overflow: auto;
}

.files-panel {
  background-color: #F2F4F5;
  border-left: 1px solid #E5E9EC;
  width: 230px;
  flex-shrink: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.files-panel-header {
  flex-shrink: 0;
  padding: 25px 30px 0 30px;
}

.files-panel-main {
  flex-grow: 1;
  padding: 0 30px 30px 30px;
  overflow: auto;
}

.project-selector {
  margin-bottom: 20px;

  .ember-power-select-trigger {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.logo-section {
  margin-bottom: 20px;
}

.logo {
  font-weight: 700;
  font-size: 16px;
}
