.sortable-item {
  display: inline-block;

  .handle {
    background-image: url("/assets/images/icons/drag.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: move;
    opacity: 0;
    transition: .2s;
  }

  &:hover {
    .handle {
      opacity: .3;
    }
  }
}

.insert-task-btn {
  transition: 0.2s;
  width: 24px;

  &.first {
    margin-left: -24px;
  }
}

.tasks-bar.dragging .insert-task-btn {
  opacity: 0;
}

.assignment-box {
  background-color: white;
  padding: 0 0 0 10px;
  height: 46px;
  border-radius: 2px;
  font-size: 16px;
  display: flex;
  align-items: center;

  a {
    color: inherit;
    cursor: pointer;
  }
}

.assignment-box-title {
  margin-left: 10px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tasks-bar-item {
  display: flex;
}

.sortable-items-wrapper {
  position: relative;
  margin: 0 -44px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F2F4F5;
    height: 50px;
    width: 20px;
    box-shadow: 5px 0 20px #F2F4F5;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #F2F4F5;
    height: 50px;
    width: 20px;
    box-shadow: -5px 0 20px #F2F4F5;
  }
}
.sortable-items {
  display: flex;
  overflow-x: auto;
  padding: 0 44px 20px 44px;
}

.sortable-item {
  &:not(.is-dragging) {
    transition: .3s cubic-bezier(0,0,.2,1);
  }
  &.is-dragging {
    position: relative;
    z-index: 1;
    .assignment-box {
      transition: .2s;
      box-shadow: 0 12px 18px -8px rgba(0,0,0,.3), 0 7px 30px 0px rgba(0,0,0,.1);
    }
  }
}