<h1>Q-Tasks</h1>

{{#unless session.isAuthenticated}}
  <form onsubmit={{route-action 'authenticate' identification password}}>
    <label for="identification">Login</label>
    {{input id='identification' placeholder='Enter Login' value=identification}}
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
    <button type="submit">Login</button>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
{{/unless}}
