<div class="login-wrapper self-center">
  {{#unless session.isAuthenticated}}
    <form onsubmit={{route-action 'authenticate' identification password}}>
      <div class="input-group-col">
        <div class="input-group">
          {{input id='identification' placeholder='Enter Login' value=identification class="input-group-field"}}
          <label for="identification" class="input-group-label">Login</label>
        </div>

        <div class="input-group">
          {{input id='password' placeholder='Enter Password' type='password' value=password class="input-group-field"}}
          <label for="password" class="input-group-label">Password</label>
        </div>
      </div>
      
      <button type="submit" class="btn">Let's go do some tasks</button>

    </form>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  {{/unless}}
</div>
