<div class="global-container">
  <div class="sidebar">
  
    {{#power-select
      options=model
      selected=currentProject
      onchange=(route-action 'selectProject')
      searchEnabled=false as |project|
    }}
      {{project.name}}
    {{/power-select}}
  
    {{outlet 'goals-list'}}
  </div>

  {{outlet}}

  <div class="template-debug">
    Find me in "app/pods/projects/template.hbs"
  </div>
</div>
