<div class="global-container">
  <div class="sidebar">

    <div class="logo-section">
      <span class="logo">T—A—S—K—S</span>
    </div>

    <div class="project-selector">
      {{#power-select
        options=model
        selected=currentProject
        onchange=(route-action 'selectProject')
        afterOptionsComponent="power-select-create-project"
        searchEnabled=false as |project|
      }}
        {{project.name}}
      {{/power-select}}
    </div>

    {{outlet 'goals-list'}}
  </div>

  <div class="task-section">
    {{outlet}}
  </div>
</div>
