<div class="sidebar">
  <div class="template-debug">
    .sidebar
  </div>

  <div class="template-debug">
    {{#power-select
      options=model
      onchange=(route-action 'selectProject')
      searchEnabled=false as |project|
    }}
      {{project.name}}
    {{/power-select}}
  </div>

  {{outlet 'goals-list'}}
</div>

{{outlet}}

<div class="template-debug">
  Find me in "app/pods/projects/template.hbs"
</div>
