<div class="sidebar">
  <div class="template-debug">
    .sidebar
  </div>

  <div class="template-debug">
    Project selector
  </div>

  {{outlet 'goals-list'}}
</div>

{{outlet}}

<div class="template-debug">
  Find me in "app/pods/projects/template.hbs"
</div>
