<form onsubmit={{route-action 'goToTeam' teamSubdomain}}>
  <label for="team-subdomain">Q-Tasks domain</label>
  {{input id="team-subdomain" value=teamSubdomain placeholder="teamdomain"}}

  <button type="submit">Continue</button>
</form>
