<div class="mx-auto self-center">
  <h1 class="public-index-app-name mb3 mt0 center">
    Q—T—A—S—Q—S
  </h1>

  <div class="login-wrapper">

    <form onsubmit={{route-action 'goToTeam' teamSubdomain}} class="team-form">

      <div class="input-group-col">
        <div class="input-group">
          {{input
            id="team-subdomain"
            value=teamSubdomain
            placeholder=(t 'templates.index_public.form_input_placeholder')
            class="input-group-field"
            autofocus=true
          }}
          <label for="team-subdomain" class="input-group-label">
            {{capitalize (t 'templates.index_public.form_label')}}
          </label>
        </div>
      </div>

      <button type="submit" class="btn">
        {{capitalize (t 'templates.index_public.form_submit')}}!
      </button>
    </form>
  </div>
</div>

