<div class="task-section-header">
  <span class="task-section-header-title">
    {{model.name}}
  </span>

  {{tasks-bar
    model=model
    tasks=tasks
    action=(route-action 'reorderTasks')
  }}
</div>

{{outlet}}

