{{buf-field field='name'}}

{{#unless short}}
  {{buf-field field='description'}}
{{/unless}}

{{task-button
  type="submit"
  task=save
  text=(capitalize (t 'actions.save' thing=(t 'models.task.one')))
}}

{{#if cancel}}
  <button type="button" onclick={{action "cancel"}}>Cancel</button>
{{/if}}
