{{buf-field field='name' autofocus=true}}

{{task-button
  type="submit"
  task=save
  text=(capitalize (t 'actions.save' thing=(t 'models.task.one')))
}}

{{#if cancel}}
  <button type="button" onclick={{action "cancel"}} class="btn btn-light">Cancel</button>
{{/if}}
