{{autosize-textarea
  placeholder=(t 'templates.comment_form.body_placeholder')
  class="comment-form-body"
  value=body
}}

<button type="submit">
  {{capitalize (t 'templates.comment_form.save')}}
</button>
