<div class="input-group-col">
  {{buf-field
    field="name"
    autofocus=true
  }}
</div>

<button type="submit" class="btn">
  {{capitalize (t 'actions.save' thing=(t 'models.project.one'))}}
</button>
