{{buf-field field="name"}}

{{buf-field field="description"}}

<button type="submit">Crear el primer projecte de {{currentTeam.name}}</button>

<div class="template-debug">
  Find me in "app/pods/components/first-project-form/template.hbs"
</div>
